.card-item-footer{
    display: flex;
    display: flex;
    justify-content: flex-end;
}
.card-item-footer > div{
   margin: 0 6px;
}
.timeline-head{
    margin: 20px 0 0 20px;
}
.timeline-head-name{
    font-size: 20px;
}
.timeline-item>div:first-child{
    width: 70%;
    height: 280px;
}
.timeline-item{
    height: 280px;
    overflow: hidden;
}
.timeline-item>div{
    float: left;
  width: 30%;
  box-sizing: border-box;
  border: 2px solid transparent;
  height: 100px;
  overflow: hidden;
}
.timeline-item>div>video,.timeline-item>div>img{
    max-width: 100%;
}
.clear{
    clear: both;
}